Bismark_Capstone.json
[
    {
        "id": "8b1ca1acfb108a49",
        "type": "tab",
        "label": "Capstone",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98ff32b1de6f8bfa",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a7dd8de6be425e1b",
        "type": "mqtt-sparkplug-broker",
        "name": "Local MQTT test",
        "deviceGroup": "SparkplugBiz",
        "eonName": "node-red MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "heloo",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "enableStoreForward": false,
        "compressAlgorithm": "",
        "aliasMetrics": true,
        "primaryScada": ""
    },
    {
        "id": "22f999be89dd1725",
        "type": "mqtt-plus-broker",
        "name": "Local Machine MQTT Connection Par",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "hey",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "1d85ac6d05fa4e7c",
        "type": "mqtt-broker",
        "name": "AEDES MQTT node connection PAR",
        "broker": "localhost",
        "port": "1884",
        "clientid": "Node_Red_mqtt",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "1",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "1",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6f0595d02e77b0a6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "df8571cc55482ce4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "256d4c1dbcfbf41a",
        "type": "ui_group",
        "name": "MAIN",
        "tab": "6f0595d02e77b0a6",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "3b2bccbdd97d11f2",
        "type": "ui_spacer",
        "z": "8b1ca1acfb108a49",
        "name": "spacer",
        "group": "256d4c1dbcfbf41a",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b8856bce6742156",
        "type": "ui_link",
        "name": "Link 2",
        "link": "www.google.com",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 2
    },
    {
        "id": "d7db35ef916ddc59",
        "type": "ignition-server",
        "hostname": "localhost",
        "port": "8088",
        "ssl": false,
        "tls": "",
        "defaultTagProvider": "",
        "name": "Ignition Server"
    },
    {
        "id": "fd8024edbc935394",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Ignition Tag Broswer Display",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "977c7a2bfa4d2b81",
        "type": "status",
        "z": "8b1ca1acfb108a49",
        "name": "",
        "scope": [
            "ca8f5a2747c94561"
        ],
        "x": 120,
        "y": 80,
        "wires": [
            [
                "bf419cdaf9096b43"
            ]
        ]
    },
    {
        "id": "bf419cdaf9096b43",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Status View",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "c51a2d97f8185a05",
        "type": "catch",
        "z": "8b1ca1acfb108a49",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "92ab185b1acb8cc4"
            ]
        ]
    },
    {
        "id": "92ab185b1acb8cc4",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "All Errors",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "f4281a1d65055f9a",
        "type": "link out",
        "z": "8b1ca1acfb108a49",
        "name": "TimeStamp",
        "mode": "link",
        "links": [
            "b00949e3111901ed",
            "b74aa395c8844bd7",
            "29d05e0a4568384c",
            "03778e1a236d6eb4",
            "8dff3f0990fe56ef"
        ],
        "x": 235,
        "y": 180,
        "wires": []
    },
    {
        "id": "88e58c90c4d328e5",
        "type": "comment",
        "z": "8b1ca1acfb108a49",
        "name": "Tag and Status",
        "info": "Browse tag and monitor system status",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "3a072b73b9fd89ae",
        "type": "inject",
        "z": "8b1ca1acfb108a49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "9b101471f13ab847",
                "f4281a1d65055f9a"
            ]
        ]
    },
    {
        "id": "264f0fc82dd2dd36",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "function 1",
        "func": "// Parse the JSON string JSON.parse(msg.payload);\nvar json_obj = msg.payload;\n\n// Access the value of \"DForward\"\nvar d_forward = json_obj.ignitionResult.tags[4];\n\n// Set the output message with the value of \"DForward\" .value\nmsg.payload = d_forward;\n\n// Return the message\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 2560,
        "wires": [
            []
        ]
    },
    {
        "id": "49fd9a567d7d8f01",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Ignition Direction Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "b74aa395c8844bd7",
        "type": "link in",
        "z": "8b1ca1acfb108a49",
        "name": "Direction Timestamp",
        "links": [
            "f4281a1d65055f9a"
        ],
        "x": 95,
        "y": 320,
        "wires": [
            [
                "c855bb5a8514e247"
            ]
        ]
    },
    {
        "id": "ca8f5a2747c94561",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "D Forward",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the value of \"DForward\"\nvar D_forward = json_obj.DForward;\n\n// Set the output message with the value of \"DForward\"\nmsg.payload = D_forward;\n\n// Return the message\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 940,
        "wires": [
            [
                "cb3f98dc4017aa46"
            ]
        ]
    },
    {
        "id": "cb3f98dc4017aa46",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Main Movement",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1000,
        "wires": []
    },
    {
        "id": "0896cb3e8744307c",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "D Backward",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the value of \"DBackward\"\nvar D_backward = json_obj.DBackward;\n\n// Set the output message with the value of \"DBackward\"\nmsg.payload = D_backward;\n\n// Return the message\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 980,
        "wires": [
            [
                "cb3f98dc4017aa46"
            ]
        ]
    },
    {
        "id": "fe80d844d3c057a5",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "D Right",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the value of \"DRight\"\nvar D_right = json_obj.DRight;\n\n// Set the output message with the value of \"DRight\"\nmsg.payload = D_right;\n\n// Return the message\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1020,
        "wires": [
            [
                "cb3f98dc4017aa46"
            ]
        ]
    },
    {
        "id": "3341d11022114c84",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "D Left",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the value of \"DLeft\"\nvar D_left = json_obj.DLeft;\n\n// Set the output message with the value of \"DLeft\"\nmsg.payload = D_left;\n\n// Return the message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1060,
        "wires": [
            [
                "cb3f98dc4017aa46"
            ]
        ]
    },
    {
        "id": "fd48fcefa4401115",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "D ForwardRight",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the value of \"DForwardRight\"\nvar d_forwardright = json_obj.DForwardRight;\n\n// Set the output message with the value of \"DForwardRight\"\nmsg.payload = d_forwardright;\n\n// Return the message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 940,
        "wires": [
            [
                "a4139774bd1fead7"
            ]
        ]
    },
    {
        "id": "dac0864526b2fd61",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "D ForwardLeft",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the value of \"DForwardLeft\"\nvar d_forwardleft = json_obj.DForwardLeft;\n\n// Set the output message with the value of \"DForwardLeft\"\nmsg.payload = d_forwardleft;\n\n// Return the message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 980,
        "wires": [
            [
                "a4139774bd1fead7"
            ]
        ]
    },
    {
        "id": "86f6460ec975f45c",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "D BackwardRight",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the value of \"DForwardRight\"\nvar d_backwardright = json_obj.DBackwardRight;\n\n// Set the output message with the value of \"DForwardRight\"\nmsg.payload = d_backwardright;\n\n// Return the message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1020,
        "wires": [
            [
                "a4139774bd1fead7"
            ]
        ]
    },
    {
        "id": "f9a34e284dd7101d",
        "type": "link out",
        "z": "8b1ca1acfb108a49",
        "name": "Direction Tags Output",
        "mode": "link",
        "links": [
            "4b958fac4178dab6",
            "88f7f7d8305ff3cf",
            "40ac773208caeb88"
        ],
        "x": 435,
        "y": 260,
        "wires": []
    },
    {
        "id": "88f7f7d8305ff3cf",
        "type": "link in",
        "z": "8b1ca1acfb108a49",
        "name": "Direction Tags Input",
        "links": [
            "f9a34e284dd7101d",
            "ef7d17920973257f",
            "2eccb41789e2e4b1"
        ],
        "x": 95,
        "y": 1000,
        "wires": [
            [
                "ca8f5a2747c94561",
                "0896cb3e8744307c",
                "fe80d844d3c057a5",
                "3341d11022114c84"
            ]
        ]
    },
    {
        "id": "4b958fac4178dab6",
        "type": "link in",
        "z": "8b1ca1acfb108a49",
        "name": "Direction Tags Input",
        "links": [
            "f9a34e284dd7101d",
            "ef7d17920973257f",
            "2eccb41789e2e4b1"
        ],
        "x": 835,
        "y": 1000,
        "wires": [
            [
                "fd48fcefa4401115",
                "dac0864526b2fd61",
                "86f6460ec975f45c",
                "8044e9cd1b728f04"
            ]
        ]
    },
    {
        "id": "a4139774bd1fead7",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Auxilary Movement",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1000,
        "wires": []
    },
    {
        "id": "8044e9cd1b728f04",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "D BackwardLeft",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the value of \"DBackwardLeft\"\nvar d_backwardleft = json_obj.DBackwardLeft;\n\n// Set the output message with the value of \"DBackwardLeft\"\nmsg.payload = d_backwardleft;\n\n// Return the message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1060,
        "wires": [
            [
                "a4139774bd1fead7"
            ]
        ]
    },
    {
        "id": "0a2ccfc2056d26a6",
        "type": "comment",
        "z": "8b1ca1acfb108a49",
        "name": "NOT USED",
        "info": "Funtion for reading json return from tag browser query ",
        "x": 110,
        "y": 2520,
        "wires": []
    },
    {
        "id": "5163decdd0798d39",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "BROKER STATUS EVENT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 80,
        "wires": []
    },
    {
        "id": "c209ba930557698a",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "BROKER PUBLISH EVENT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 140,
        "wires": []
    },
    {
        "id": "f3f1794f5bd1de5b",
        "type": "mqtt-check",
        "z": "8b1ca1acfb108a49",
        "host": "localhost",
        "port": "1883",
        "username": "Capstone",
        "password": "",
        "name": "",
        "x": 1080,
        "y": 1140,
        "wires": [
            [
                "74721b4dad5c40f7"
            ]
        ]
    },
    {
        "id": "74721b4dad5c40f7",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "MQTT  Check",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1350,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ae2c780ee4637b6d",
        "type": "mqtt in",
        "z": "8b1ca1acfb108a49",
        "name": "",
        "topic": "Direction",
        "qos": "2",
        "datatype": "json",
        "broker": "1d85ac6d05fa4e7c",
        "nl": false,
        "rap": false,
        "rh": "2",
        "inputs": 0,
        "x": 820,
        "y": 1140,
        "wires": [
            [
                "f3f1794f5bd1de5b"
            ]
        ]
    },
    {
        "id": "fa702f44d41f09e4",
        "type": "mqtt out",
        "z": "8b1ca1acfb108a49",
        "name": "",
        "topic": "Direction",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d85ac6d05fa4e7c",
        "x": 580,
        "y": 1140,
        "wires": []
    },
    {
        "id": "095f643800fd116f",
        "type": "aedes broker",
        "z": "8b1ca1acfb108a49",
        "name": "",
        "mqtt_port": "1884",
        "mqtt_ws_bind": "path",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "5163decdd0798d39"
            ],
            [
                "c209ba930557698a"
            ]
        ]
    },
    {
        "id": "5fca48abbd07926f",
        "type": "comment",
        "z": "8b1ca1acfb108a49",
        "name": "mqtt broker node",
        "info": "Broker: Aedes mqtt Broker\n\n//Client Authentication\nUsername: Capstone\nPassword: Zbest1000\nUrl: Localhost\nPort: 1884\n\n\n\n\n\nAuthor- Bismark Aguocha\n",
        "x": 1040,
        "y": 80,
        "wires": []
    },
    {
        "id": "d72624e6ed3a9fa7",
        "type": "link out",
        "z": "8b1ca1acfb108a49",
        "name": "All Tags",
        "mode": "link",
        "links": [
            "5f3df0f4d14d8b67"
        ],
        "x": 445,
        "y": 180,
        "wires": []
    },
    {
        "id": "85ba1b94e884fe01",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "Main Direction",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the values of \"DForward\", \"DBackward\", \"DRight\", and \"DLeft\"\nvar D_forward = json_obj.DForward;\nvar D_backward = json_obj.DBackward;\nvar D_right = json_obj.DRight;\nvar D_left = json_obj.DLeft;\n\n// Create a metrics object with the four values\nvar Main_Direction  = {\n    \"name\": \"Main_Movement\",\n    \"DForward\": D_forward,\n    \"DBackward\": D_backward,\n    \"DRight\": D_right,\n    \"DLeft\": D_left\n};\n\n// Set the output message with the metrics object\nmsg.payload = Main_Direction ;\n\n// Return the message\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "40ac773208caeb88",
        "type": "link in",
        "z": "8b1ca1acfb108a49",
        "name": "Direction Tags Input",
        "links": [
            "f9a34e284dd7101d",
            "ef7d17920973257f",
            "2eccb41789e2e4b1"
        ],
        "x": 95,
        "y": 1180,
        "wires": [
            [
                "85ba1b94e884fe01",
                "64db467f4eb3c79f",
                "6c24a18fc8b94226"
            ]
        ]
    },
    {
        "id": "64db467f4eb3c79f",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "Auxiliary Direction",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the values of the auxiliary movements (\"DForwardRight\", \"DForwardLeft\", \"DBackwardRight\", and \"DBackwardLeft\")\nvar D_forwardright = json_obj.DForwardRight;\nvar D_forwardleft = json_obj.DForwardLeft;\nvar D_backwardright = json_obj.DBackwardRight;\nvar D_backwardleft = json_obj.DBackwardLeft;\n\n// Create a metrics object with the auxiliary movement values\nvar Auxiliary_Direction = {\n    \"name\": \"Auxiliary_Movements\",\n    \"DForwardRight\": D_forwardright,\n    \"DForwardLeft\": D_forwardleft,\n    \"DBackwardRight\": D_backwardright,\n    \"DBackwardLeft\": D_backwardleft\n};\n\n// Set the output message with the metrics object\nmsg.payload = Auxiliary_Direction;\n\n// Return the message\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "6c24a18fc8b94226",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "Full Direction",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the values of the main movements (\"DForward\", \"DBackward\", \"DRight\", and \"DLeft\")\nvar D_forward = json_obj.DForward;\nvar D_backward = json_obj.DBackward;\nvar D_right = json_obj.DRight;\nvar D_left = json_obj.DLeft;\n\n// Access the values of the auxiliary movements (\"DForwardRight\", \"DForwardLeft\", \"DBackwardRight\", and \"DBackwardLeft\")\nvar D_forwardright = json_obj.DForwardRight;\nvar D_forwardleft = json_obj.DForwardLeft;\nvar D_backwardright = json_obj.DBackwardRight;\nvar D_backwardleft = json_obj.DBackwardLeft;\n\nvar D_RotateLeft = json_obj.DRotateLeft;\nvar D_RotateRight = json_obj.DRotateRight;\n\n\n// Create a metrics array with two objects, one for main movements and one for auxiliary movements\nvar Direction = [{ \"name\": \"Main_Movement\",\n                        \"DForward\": D_forward,\n                        \"DBackward\": D_backward,\n                        \"DRight\": D_right,\n                        \"DLeft\": D_left\n                 },\n                 {  \"name\": \"Auxiliary_Movements\",\n                       \"DForwardRight\": D_forwardright,\n                       \"DForwardLeft\": D_forwardleft, \n                       \"DBackwardRight\": D_backwardright,\n                       \"DBackwardLeft\": D_backwardleft,\n                       \"DRotateRight\": D_RotateRight,\n                       \"DRotateLeft\": D_RotateLeft\n                }\n                ];\n\n// Set the output message with the metrics array\nmsg.payload = Direction;\n\n// Return the message\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1140,
        "wires": [
            [
                "fa702f44d41f09e4"
            ]
        ]
    },
    {
        "id": "a9f6004cc137c6e5",
        "type": "comment",
        "z": "8b1ca1acfb108a49",
        "name": "Read Me",
        "info": "This is the Broken down peices of Main Direction Tags.\n\"Main Direction\" Combines all these into a one function. \nwhile \"FULL Direction\" is the full combination of both \"Main Direction\" and \"Auxilary Direction\" . \nthis is left here for future upgrades and for learning purposes.\n\n\n\nAuthor- Bismark Aguocha",
        "x": 260,
        "y": 900,
        "wires": []
    },
    {
        "id": "c10fa52b4178d0cb",
        "type": "comment",
        "z": "8b1ca1acfb108a49",
        "name": "Read Me",
        "info": "This is the Broken down peices of Auxilary Direction Tags.\n\"Auxilary Direction\" Combines all these into a one function. \nwhile \"FULL Direction\" is the full combination of both \"Main Direction\" and \"Auxilary Direction\" . \nthis is left here for future upgrades and for learning purposes.\n\n\n\nAuthor- Bismark Aguocha",
        "x": 1020,
        "y": 880,
        "wires": []
    },
    {
        "id": "8d7f2c53fc10a56d",
        "type": "inject",
        "z": "8b1ca1acfb108a49",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1030,
        "y": 200,
        "wires": [
            [
                "85e77129a7810b8a"
            ]
        ]
    },
    {
        "id": "85e77129a7810b8a",
        "type": "mqtt out",
        "z": "8b1ca1acfb108a49",
        "name": "",
        "topic": "keepalive",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d85ac6d05fa4e7c",
        "x": 1240,
        "y": 200,
        "wires": []
    },
    {
        "id": "4fc98f576fb0d57c",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Ignition Light Control Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "29d05e0a4568384c",
        "type": "link in",
        "z": "8b1ca1acfb108a49",
        "name": "Light control Timestamp",
        "links": [
            "f4281a1d65055f9a"
        ],
        "x": 95,
        "y": 440,
        "wires": [
            [
                "16160add12e02be4"
            ]
        ]
    },
    {
        "id": "9307b8e36eb1d7eb",
        "type": "link out",
        "z": "8b1ca1acfb108a49",
        "name": "Light Tags Output",
        "mode": "link",
        "links": [
            "883ff1276cc13527"
        ],
        "x": 435,
        "y": 380,
        "wires": []
    },
    {
        "id": "3df41ac1178db35b",
        "type": "link out",
        "z": "8b1ca1acfb108a49",
        "name": "Mode Tags Output",
        "mode": "link",
        "links": [
            "b3cc8c77effb01fb"
        ],
        "x": 435,
        "y": 520,
        "wires": []
    },
    {
        "id": "eabdd7ac605fdbb2",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Ignition MODE Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 580,
        "wires": []
    },
    {
        "id": "03778e1a236d6eb4",
        "type": "link in",
        "z": "8b1ca1acfb108a49",
        "name": "Mode Timestamp",
        "links": [
            "f4281a1d65055f9a"
        ],
        "x": 95,
        "y": 580,
        "wires": [
            [
                "dabef90c583595b4"
            ]
        ]
    },
    {
        "id": "e9788eb1460f40cf",
        "type": "link out",
        "z": "8b1ca1acfb108a49",
        "name": "Speed Tags Output",
        "mode": "link",
        "links": [
            "ed474cb45483219d"
        ],
        "x": 1155,
        "y": 260,
        "wires": []
    },
    {
        "id": "eea3263bd72c45a2",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Ignition Direction Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 320,
        "wires": []
    },
    {
        "id": "8dff3f0990fe56ef",
        "type": "link in",
        "z": "8b1ca1acfb108a49",
        "name": "Direction Timestamp",
        "links": [
            "f4281a1d65055f9a"
        ],
        "x": 825,
        "y": 320,
        "wires": [
            [
                "77f1787536399c86"
            ]
        ]
    },
    {
        "id": "51313d850c050da8",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "SPEED RPM",
        "func": "// var j_Object = JSON.parse(msg.payload);\nvar speed = msg.payload.Speed //j_Object[\"Speed\"];\nvar tagPath = \"[default]Devices/Speed\"; //  the appropriate tag path\nmsg.payload = {\n    tagPath: tagPath,\n    tagValue: speed\n};\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "78f642883b4edf02"
            ]
        ]
    },
    {
        "id": "1583e92cd2e91ca1",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Actual Speed",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 520,
        "wires": []
    },
    {
        "id": "092e078c5df8e124",
        "type": "mqtt in",
        "z": "8b1ca1acfb108a49",
        "name": "SPEED",
        "topic": "Driver",
        "qos": "2",
        "datatype": "json",
        "broker": "1d85ac6d05fa4e7c",
        "nl": false,
        "rap": false,
        "rh": "2",
        "inputs": 0,
        "x": 910,
        "y": 440,
        "wires": [
            [
                "591b8f177b7a3eb7",
                "adb45fcc79670420"
            ]
        ]
    },
    {
        "id": "f983035f386e0947",
        "type": "link out",
        "z": "8b1ca1acfb108a49",
        "name": "Speed_SP Tags Output",
        "mode": "link",
        "links": [
            "80cf748f176b4f98"
        ],
        "x": 455,
        "y": 640,
        "wires": []
    },
    {
        "id": "d8510d266a5de9b9",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Ignition Speed_SP Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 700,
        "wires": []
    },
    {
        "id": "b85a68428fe5dcf5",
        "type": "link in",
        "z": "8b1ca1acfb108a49",
        "name": "Mode Timestamp",
        "links": [],
        "x": 105,
        "y": 700,
        "wires": [
            [
                "b68dcc65524f0e1b"
            ]
        ]
    },
    {
        "id": "c8c7835af4f2a81a",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "SPEED SP",
        "func": "\n// Access the values \nvar Speed_SP = JSON.parse(msg.payload.ignitionResult.value);\n\n// Set the output message with the value of \"Speed SP\"\nmsg.payload = Speed_SP;\nmsg.topic = \"Speed_SP\";\n// Return the message\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1320,
        "wires": [
            [
                "42aa78b4f0b85ec5"
            ]
        ]
    },
    {
        "id": "80cf748f176b4f98",
        "type": "link in",
        "z": "8b1ca1acfb108a49",
        "name": "Speed SP",
        "links": [
            "f983035f386e0947"
        ],
        "x": 55,
        "y": 1320,
        "wires": [
            [
                "c8c7835af4f2a81a"
            ]
        ]
    },
    {
        "id": "d3eed6f1f07c54ed",
        "type": "mqtt out",
        "z": "8b1ca1acfb108a49",
        "name": "",
        "topic": "Instructions",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d85ac6d05fa4e7c",
        "x": 550,
        "y": 1460,
        "wires": []
    },
    {
        "id": "20c32be490dfacd9",
        "type": "mqtt-check",
        "z": "8b1ca1acfb108a49",
        "host": "localhost",
        "port": "1883",
        "username": "Capstone",
        "password": "",
        "name": "",
        "x": 1080,
        "y": 1260,
        "wires": [
            [
                "793b8b2056b02d50"
            ]
        ]
    },
    {
        "id": "793b8b2056b02d50",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Instruction  Check",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1370,
        "y": 1260,
        "wires": []
    },
    {
        "id": "06245b981af35036",
        "type": "mqtt in",
        "z": "8b1ca1acfb108a49",
        "name": "",
        "topic": "Instructions",
        "qos": "2",
        "datatype": "json",
        "broker": "1d85ac6d05fa4e7c",
        "nl": false,
        "rap": false,
        "rh": "2",
        "inputs": 0,
        "x": 830,
        "y": 1260,
        "wires": [
            [
                "20c32be490dfacd9"
            ]
        ]
    },
    {
        "id": "42aa78b4f0b85ec5",
        "type": "join",
        "z": "8b1ca1acfb108a49",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 1380,
        "wires": [
            [
                "1167d3c91d6a626c"
            ]
        ]
    },
    {
        "id": "274d0fa1aeb77926",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "MODE",
        "func": "\n// Access the values \nvar MODE = JSON.parse(msg.payload.ignitionResult.value);\n\n// Set the output message with the value of \"MODE\"\nmsg.payload = MODE;\nmsg.topic = \"MODE\";\n// Return the message\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 1380,
        "wires": [
            [
                "42aa78b4f0b85ec5"
            ]
        ]
    },
    {
        "id": "b3cc8c77effb01fb",
        "type": "link in",
        "z": "8b1ca1acfb108a49",
        "name": "MODE Input",
        "links": [
            "3df41ac1178db35b"
        ],
        "x": 55,
        "y": 1380,
        "wires": [
            [
                "274d0fa1aeb77926"
            ]
        ]
    },
    {
        "id": "1167d3c91d6a626c",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "instructions",
        "func": "\n// Access the values \nvar Mode = (msg.payload[\"MODE\"].payload);\nvar Speed_SP = (msg.payload[\"Speed_SP\"].payload);\nvar RGB_Dataset = (msg.payload[\"RGB\"].payload);\n//metrics object\nvar Instruction = {\n    \"name\": \"Instructions\",\n    \"Mode\": Mode,\n    \"MoveSpeed\": Speed_SP,\n    \"rgbOn\": RGB_Dataset.rgbOn,\n    \"rgbRed\": RGB_Dataset.rgbRed,\n    \"rgbGreen\": RGB_Dataset.rgbGreen,\n    \"rgbBlue\": RGB_Dataset.rgbBlue\n    };\n// Set the output message with the value of \"MODE\"\nmsg.payload = Instruction;\n// Return the message\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1380,
        "wires": [
            [
                "d3eed6f1f07c54ed"
            ]
        ]
    },
    {
        "id": "591b8f177b7a3eb7",
        "type": "mqtt-check",
        "z": "8b1ca1acfb108a49",
        "host": "localhost",
        "port": "1883",
        "username": "Capstone",
        "password": "Zbest1000",
        "name": "",
        "x": 1060,
        "y": 440,
        "wires": [
            [
                "51313d850c050da8"
            ]
        ]
    },
    {
        "id": "c7f67067db620255",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "RGB",
        "func": "// Parse the JSON string\nvar json_obj = JSON.parse(msg.payload.ignitionResult.value);\n\n// Access the values \nvar rgbOn = json_obj[\"Light On\"];\nvar rgbRed = json_obj.Red;\nvar rgbGreen = json_obj.Green\nvar rgbBlue = json_obj.Blue\n\n// Create a metrics object with the four values\nvar RGB_Data = {\n    \"rgbOn\": rgbOn,\n    \"rgbRed\": rgbRed,\n    \"rgbGreen\": rgbGreen,\n    \"rgbBlue\": rgbBlue\n};\n\nmsg.payload = RGB_Data;\nmsg.topic = \"RGB\";\n\n// Return the message\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 1440,
        "wires": [
            [
                "42aa78b4f0b85ec5"
            ]
        ]
    },
    {
        "id": "883ff1276cc13527",
        "type": "link in",
        "z": "8b1ca1acfb108a49",
        "name": "MODE Input",
        "links": [
            "9307b8e36eb1d7eb"
        ],
        "x": 55,
        "y": 1440,
        "wires": [
            [
                "c7f67067db620255"
            ]
        ]
    },
    {
        "id": "788c4ffabd0d857e",
        "type": "function",
        "z": "8b1ca1acfb108a49",
        "name": "ObstacleDetect",
        "func": "var obstacleDetect = msg.payload[\"Obstacle Detected\"];\n\nvar tagPath = \"[default]Devices/ObstacleDectect\";                //  the appropriate tag path\nmsg.payload = {\n    tagPath: tagPath,\n    tagValue: obstacleDetect\n};\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 680,
        "wires": [
            [
                "d650d64fd016fb33"
            ]
        ]
    },
    {
        "id": "ef19c4f34f4c4b29",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": "Obstacle Dectect",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 740,
        "wires": []
    },
    {
        "id": "7681a7dc9ea7bfb9",
        "type": "mqtt in",
        "z": "8b1ca1acfb108a49",
        "name": "Obstacle",
        "topic": "Obstacle",
        "qos": "2",
        "datatype": "json",
        "broker": "1d85ac6d05fa4e7c",
        "nl": false,
        "rap": false,
        "rh": "2",
        "inputs": 0,
        "x": 900,
        "y": 680,
        "wires": [
            [
                "e6b292dbbd142aa3",
                "e14728ced09ede30"
            ]
        ]
    },
    {
        "id": "e6b292dbbd142aa3",
        "type": "mqtt-check",
        "z": "8b1ca1acfb108a49",
        "host": "localhost",
        "port": "1883",
        "username": "Capstone",
        "password": "Zbest1000",
        "name": "",
        "x": 1060,
        "y": 680,
        "wires": [
            [
                "788c4ffabd0d857e"
            ]
        ]
    },
    {
        "id": "e14728ced09ede30",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": " Dectect",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 800,
        "wires": []
    },
    {
        "id": "adb45fcc79670420",
        "type": "debug",
        "z": "8b1ca1acfb108a49",
        "name": " Bug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 540,
        "wires": []
    },
    {
        "id": "78f642883b4edf02",
        "type": "ignition-tag-write",
        "z": "8b1ca1acfb108a49",
        "server": "d7db35ef916ddc59",
        "value": "",
        "valueType": "msg.payload",
        "tagPath": "[default]Devices/Speed",
        "tagValue": "",
        "name": "Speed Actual",
        "x": 1470,
        "y": 440,
        "wires": [
            [
                "1583e92cd2e91ca1"
            ]
        ]
    },
    {
        "id": "d650d64fd016fb33",
        "type": "ignition-tag-write",
        "z": "8b1ca1acfb108a49",
        "server": "d7db35ef916ddc59",
        "value": "",
        "valueType": "msg.payload",
        "tagPath": "[default]Devices/ObstacleDectect",
        "tagValue": "",
        "name": "ObstacleDectect",
        "x": 1480,
        "y": 680,
        "wires": [
            [
                "ef19c4f34f4c4b29"
            ]
        ]
    },
    {
        "id": "c855bb5a8514e247",
        "type": "ignition-tag-read-ws",
        "z": "8b1ca1acfb108a49",
        "server": "d7db35ef916ddc59",
        "wholemsg": "false",
        "hb": "",
        "tagPath": "[default]Devices/Direction",
        "name": "Direction",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "49fd9a567d7d8f01",
                "f9a34e284dd7101d"
            ]
        ]
    },
    {
        "id": "16160add12e02be4",
        "type": "ignition-tag-read-ws",
        "z": "8b1ca1acfb108a49",
        "server": "d7db35ef916ddc59",
        "wholemsg": "false",
        "hb": "",
        "tagPath": "[default]Devices/Light control",
        "name": "Light Control",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "4fc98f576fb0d57c",
                "9307b8e36eb1d7eb"
            ]
        ]
    },
    {
        "id": "dabef90c583595b4",
        "type": "ignition-tag-read-ws",
        "z": "8b1ca1acfb108a49",
        "server": "d7db35ef916ddc59",
        "wholemsg": "false",
        "hb": "",
        "tagPath": "[default]Devices/MODE",
        "name": "MODE",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "eabdd7ac605fdbb2",
                "3df41ac1178db35b"
            ]
        ]
    },
    {
        "id": "77f1787536399c86",
        "type": "ignition-tag-read-ws",
        "z": "8b1ca1acfb108a49",
        "server": "d7db35ef916ddc59",
        "wholemsg": "false",
        "hb": "",
        "tagPath": "[default]Devices/Speed",
        "name": "Speed",
        "x": 1050,
        "y": 320,
        "wires": [
            [
                "eea3263bd72c45a2",
                "e9788eb1460f40cf"
            ]
        ]
    },
    {
        "id": "b68dcc65524f0e1b",
        "type": "ignition-tag-read-ws",
        "z": "8b1ca1acfb108a49",
        "server": "d7db35ef916ddc59",
        "wholemsg": "false",
        "hb": "",
        "tagPath": "[default]Devices/Speed_SP",
        "name": "Speed_SP",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "d8510d266a5de9b9",
                "f983035f386e0947"
            ]
        ]
    },
    {
        "id": "9b101471f13ab847",
        "type": "ignition-tag-browse",
        "z": "8b1ca1acfb108a49",
        "server": "d7db35ef916ddc59",
        "value": "",
        "valueType": "msg.payload",
        "tagPath": "[default]Devices",
        "name": "All Tags",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "fd8024edbc935394",
                "d72624e6ed3a9fa7"
            ]
        ]
    },
    {
        "id": "4eacc24f99e3edd8",
        "type": "mqtt sparkplug in",
        "z": "98ff32b1de6f8bfa",
        "name": "",
        "topic": "test",
        "qos": "1",
        "broker": "a7dd8de6be425e1b",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "dbc836dda40dcb20"
            ]
        ]
    },
    {
        "id": "5f3df0f4d14d8b67",
        "type": "link in",
        "z": "98ff32b1de6f8bfa",
        "name": "mqtt",
        "links": [
            "d72624e6ed3a9fa7",
            "4c719cef566b1c18"
        ],
        "x": 685,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "20085b12509f9b30",
        "type": "mqtt sparkplug out",
        "z": "98ff32b1de6f8bfa",
        "name": "",
        "topic": "test",
        "qos": "1",
        "retain": "",
        "broker": "a7dd8de6be425e1b",
        "x": 330,
        "y": 480,
        "wires": []
    },
    {
        "id": "29429d8b66112469",
        "type": "mqtt sparkplug device",
        "z": "98ff32b1de6f8bfa",
        "name": "",
        "metrics": {
            "machine2/temp/speed": {
                "dataType": "Int32",
                "name": "machine2/temp/speed"
            },
            "machine1/temp/speed": {
                "dataType": "Int32",
                "name": "machine1/temp/speed"
            }
        },
        "broker": "a7dd8de6be425e1b",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "20085b12509f9b30"
            ]
        ]
    },
    {
        "id": "c4dc69c0194f3687",
        "type": "link in",
        "z": "98ff32b1de6f8bfa",
        "name": "metrics",
        "links": [],
        "x": 545,
        "y": 420,
        "wires": [
            [
                "29429d8b66112469"
            ]
        ]
    },
    {
        "id": "dbc836dda40dcb20",
        "type": "debug",
        "z": "98ff32b1de6f8bfa",
        "name": "MQTT  SUBRIBE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "150efb10132f091e",
        "type": "comment",
        "z": "98ff32b1de6f8bfa",
        "name": "READ ME BIZ",
        "info": "THE SETUP WAS FOR AN MQQT COMMUNICATION BETWEEN THE MOSQUITO BROKER INSTALLED ON YOUR LOCAL COMPUTER. YOU NEED TO DO SO OPTIMIZING ESPECIALLY WITH THE MQQT DEVICE NODE FROM SPARKPLUG THAT DEALS WITH METRICS",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "26f9c6444a108f4d",
        "type": "comment",
        "z": "98ff32b1de6f8bfa",
        "name": "IMP",
        "info": "git auth:\nUser: me\nPassword: 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",
        "x": 850,
        "y": 240,
        "wires": []
    }
]